@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cursor-default: url("../assets/cursors/default.svg") 0 0, default !important;
    --cursor-pointer: url("../assets/cursors/pointer.svg") 10 5, pointer !important;

    cursor: var(--cursor-default);
}

@layer base {
    html {
        font-family: "Mirza", "Open Sans", "Noto Sans", sans-serif;
    }
    button {
        cursor: var(--cursor-pointer);
    }
    @media (prefers-reduced-motion: no-preference) {
        #schools[data-school="Arts"] {
            @apply bg-[url("../assets/asbg.jpg")];
        }
        #schools[data-school] {
            @apply animate-bg-in;
        }
        #schools[data-school] span.text-9xl {
            @apply animate-title-change;
        }
        #schools[data-school] span.text-7xl {
            @apply animate-desc-change;
        }
        #schools:not([data-school]) span.text-9xl {
            @apply animate-title-back;
        }
        #schools:not([data-school]) span.text-7xl {
            @apply animate-desc-back;
        }
    }
    #schoolsBackBtn {
        top: 35px;
        left: 50px;
        opacity: 0;
        z-index: 10;
        position: absolute;
        cursor: var(--cursor-pointer);
        @apply text-xl font-bold;
    }
}

@media (prefers-reduced-motion: no-preference) {
    #schools[data-school] #sch-properties-container {
        opacity: 1;
    }

    .menuChildren {
        position: relative;
        background-size: cover;
        cursor: var(--cursor-pointer);
    }
    .menuChildren:nth-child(2) { /* Academics */
        background-position: 80%;
        background-image: url("../assets/scholar.jpg");
    }
    .menuChildren:nth-child(3) { /* Campus */
        background-position: 45%;
        background-image: url("../assets/prih.jpg");
    }
    .menuChildren:nth-child(4) { /* History */
        background-position: 75%;
        background-image: url("../assets/hist.jpg");
    }
}

@layer utilities {
    .disabled {
        @apply text-gray-600 transition-colors duration-300;
        pointer-events: none;
    }
    .lr-button {
        @apply hover:cursor-[var(--cursor-pointer)] select-none text-xl;
    }
    .school-frame {
        @apply flex gap-x-[var(--col-gap)] pointer-events-none justify-center absolute opacity-0 transition-opacity duration-300;
    }
    .school-frame.active {
        @apply opacity-100 animate-[sfa_5s_ease-out_forwards] pointer-events-auto;
    }
}
